.one {
  margin-bottom: 50px;
}

.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.one h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

.one h1 em {
  font-style: normal;
  font-weight: 600;
}

.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: rgba(15, 16, 53, 0.588);
}
.headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.categories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  margin-bottom: 10px;
}
.category {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 185, 185);
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px;
}

.category:hover {
  background-color: rgb(150, 150, 150);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.evidenceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evidences {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 1080px) {
  .evidences {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 740px) {
  .evidences {
    grid-template-columns: repeat(1, 1fr);
  }
}
