.logo{
    height: 60px;
    width: 230px;
    line-height: 80px;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.mobileMenu{
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    grid-template-rows: 0fr;
    grid-template-columns: 1fr;
    width: 100%;
    /* padding: .5rem; */
    transition: all 0.5s ease-in-out;
}

.mobileMenu > div{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mobileMenu > div > li{
    list-style: none;
    /* position: relative; */
    width: clamp(50%, 50vw, 90%);
    font-weight: 600;
    color: white;
    padding: 10px auto;
    margin: 10px auto;
    border-bottom: 1.5px #ddd solid;
    border-radius: 5px;
}

.mobileMenu > div > li:hover{
    border-bottom: none;
    border-top: 1.5px #ddd solid;
    border-radius: 5px;
}

/* .mobileMenu > div > li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: azure;
} */

.mobileMenu.isOpen {
    grid-template-rows: 1fr;
}




